/*<NULLSTYLE>==================================================================*/
* {padding: 0;margin: 0;border: 0;}
*,*:before,*:after {-webkit-box-sizing: border-box;box-sizing: border-box; -moz-box-sizing: border-box;-benefitsbkit-box-sizing: border-box;}
h1,h2,h3,h4,h5,h6 {font-size:inherit;font-weight: inherit;}
nav,footer,header,aside {display: block;}
html,body {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position:relative;
  color:#2C2B2B;
}
body {
  font-size:100%;
  line-height:27px;
  font-family: 'Oswald', sans-serif;
  font-size:18px;
  -ms-text-size-adjust:100%;-moz-text-size-adjust:100%; -benefitsbkit-text-size-adjust:100%;
}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
input,button,textarea {font-family:'Oswald', sans-serif;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited,a:hover {text-decoration: none;
  color: inherit;
  display: inline-block;}
ul, li {list-style: none;}
img {vertical-align: top;}
/*============================================================================*/
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}
.btn {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #5A0D67;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  font-weight: 300;
}
.btn:hover {
  background-color: #fff;
  color:#5A0D67;
}
.btn--mod {
  border: 1px solid #fff;
  position: relative;
}
.btn--mod:hover {
  border: 1px solid #C4C4C4;
}
.btn--mod::after {
  content: '';
  position: absolute;
  width: 70px;
  height: 1px;
  right: -65px;
  top: 20px;
  background-color:#C4C4C4;
}
.btn--mod::before {
  content: 'PRESS';
  position: absolute;
  text-transform: uppercase;
  color:#C4C4C4;
  right: -100px;
  top: 10px;
}
.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 53px;
  max-width: 400px;
  margin: 0 0 50px 0;
  text-transform: uppercase;
  color: #21062A;
  position: relative;
  display: inline-block;
}
.title::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 3px;
  right: -100px;
  top: 20px;
  background-color:  #21062A;
}
.title--white {
  color: #FFFFFF;
}
.title--white::after {
  background-color: #fff;
}
/*============================================================================*/
.header {
  margin: 0 0 200px 0;
  background-image: url("../img/bg_image.jpg");
  height: 100%;
  background-position: 0 0; 
  background-repeat: no-repeat;
  background-size: cover; 
  max-height: 700px;
  color: #fff;
}
.header-top {
  margin: 0 0 50px 0;
  padding: 45px 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__phone {
  font-size: 36px;
  font-weight: 400px;
  line-height: 53px;
}
.header-bottom {
  position: relative;
  padding: 0 0 115px 0;
}
.header__title {
  font-size: 72px;
  font-weight: 400;
  line-height: 107px;
  text-transform: uppercase;
}
.header__subtitle {
  margin: 0 0 30px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;
}
.header__text {
  margin: 0 0 30px 0;
  max-width: 800px;
  font-weight: 300;
}
.header__social {
  padding: 70px 0 0 65px;
}
.social{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__link {
  margin: 0 10px 0 0;
}
.social__link:last-child {
  margin: 0 0 0 0;
}
.header__image {
  position: absolute;
  right: 0;
  bottom: -210px;
}
/*============================================================================*/
.services {
  margin: 0 0 100px 0;
}
.services-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.services-content {
  margin: 0 95px 0 0;
}
.services-content-item {
  margin: 0 0 69px 0;
}
.services-content-item__title {
  color: #5A0D67;
  margin: 0 0 12px 0;
}
.services-content-item__text {
  margin: 0 0 12px 0;
  font-weight:300;
}
.services__btn {
  margin: -19px 0 0px 0;  
  color: #FFFFFF;
}
/*==============================*/
.services-list {
    list-style:none;
    counter-reset: count_from_scratch;
}
.services-list-item {
  max-width: 455px;
  border: 1px solid #C4C4C4;
  margin: 0 0 12px 0;
  counter-increment:count_from_scratch;
  position:relative;
  padding: 9px 5px 9px 20px;
}
.services-list-item:hover {
  max-width: 500px;
  border: 1px solid #5A0D67;
}
.services-list-item::before {
  content: "0" counter(count_from_scratch);
  position:absolute; 
  -webkit-transform:rotate(270deg); 
          transform:rotate(270deg);
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #C4C4C4;
  padding: 0 10px 0 0;
}
.services-list-item-body{
  padding: 0 0 0 80px;
}
.services-list__title {
  font-size: 24px;
  line-height: 36px;
}
.services-list__title:hover {
  color: #5A0D67;
}
.services-list__text {
  font-weight:300;
}
.services-list__text:hover {
  color: #000000;
}
/*============================================================================*/
.benefits {
  margin: 0 0 100px 0;
}
.benefits-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.benefits-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.benefits__img {
  display: block;
  background-image: url("../img/car.png");
  height: 100%;
  max-width: 320px;
  background-position: 0 0; 
  background-repeat: no-repeat;
  background-size: cover; 
  position: relative;
  z-index: 2;
}
.benefits-content {
  color: #FFFFFF;
  padding: 30px 0 40px 0;
  position: relative;  
}
.benefits-content::after {
 content: '';
  width:785px;
  height: 100%;
  background-color: #21062A; 
  right:0;
  top:0;
  position: absolute;
  z-index: 1;
}
.benefits-content-item {
  padding: 0 0 10px 0;
  max-width: 330px;
  position: relative;
  z-index: 2;
}
.benefits-content-item:last-child {
  padding: 0 0 0 0;
}
.benefits-content__title {
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  margin-bottom: -5px;
}
.benefits-content__subtitle {
  font-size: 24px;
  line-height: 36px;
}
.benefits-content__text {
  color: #C4C4C4;
  font-weight:300;
}
/*============================================================================*/
.products{
   margin: 0 0 100px 0;
}
.products-body {
  margin: 0 -7px;
}
.products-item {
  margin: 0 7px;
}
.products-item-styles {
  border: 1px solid #C4C4C4;
  padding: 6px 6px 16px 6px;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.products-item-styles:hover {
  border: 1px solid #C4C4C4;
  color: #fff;
  background-color: #5A0D67;
  border-color: #5A0D67;
}
.products-item__image{
  display: inline-block;
  width: 100%;
  margin: 0 0 20px 0;
}
.products-item__title {
  margin: 0 0 5px 0;
}
.products-item__text {}
.products .slick-dots{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 0 0;
 }
.products .slick-dots button{
  font-size: 0;
  width: 50px;
  height: 1px;
  background-color: #C4C4C4;
  margin: 0px 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.products .slick-active button{
  background-color: #5A0D67;
  height: 3px;
}
/*============================================================================*/
.contacts{
   margin: 0 0 100px 0;
}
.contacts-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contacts-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 50px 0 0 0;
}
.contacts-content__title {
  color: #5A0D67;
}
.contacts-content {
  max-width: 180px;
  padding: 0 0 37px 0;
}
.contacts-content-item {
  margin-bottom: 20px;
}
.contacts-content__text {
  font-weight:300;
}
/*==============================*/
.contacts-form{
  background-color: #21062A;
  padding: 50px 75px 55px 75px;
}
.contacts-form__title {
  margin: 0 0 15px 80px;
  text-align: left;
}
.contacts-form-body {
  text-align: center;
}
.contacts-form-item {
  margin: 0 0 12px 0;
}
.contacts-form__button {
  margin: 65px 0 0 0;
}
.input{
  display: block;
  width: 100%;
  height: 75px;
  padding: 0px 15px;
  background-color:transparent;
  border: 1px solid #C4C4C4;
  color: #C4C4C4;
  font-size: 18px;
  line-height: 27px;
  font-weight:300;
}
.input::-webkit-input-placeholder{
  text-align: center;
  color: #C4C4C4;
  font-size: 18px;
  line-height: 27px;
}
.input::-moz-placeholder{
  text-align: center;
  color: #C4C4C4;
  font-size: 18px;
  line-height: 27px;
}
.input:-ms-input-placeholder{
  text-align: center;
  color: #C4C4C4;
  font-size: 18px;
  line-height: 27px;
}
.input::-ms-input-placeholder{
  text-align: center;
  color: #C4C4C4;
  font-size: 18px;
  line-height: 27px;
}
.input::placeholder{
  text-align: center;
  color: #C4C4C4;
  font-size: 18px;
  line-height: 27px;
}
/*============================================================================*/
.footer {
  background-color: #21062A;
}
.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-weight: 300;
  padding: 24px 0;
}
/*============================================================================*/
@media (max-width: 1170px) {
  .benefits__img {
      top: 50px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 970px;
  }
  .title {
    margin: 0 0 30px 0;
  }
  .title::after {
    content: '';
    width: 60px;
    right: -80px;
  }
  .header {
    margin: 0 0 140px 0;
  }
  .header-top {
    margin: 0 0 0 0;
  }
  .header-top__phone {
    font-size: 30px;
  }
  .header-bottom {
    padding: 0 0 80px 0;
  }
  .header__title {
    font-size: 65px;
  }  
  .header__subtitle {
    margin: 0 0 10px 0;
    font-size: 30px;
  }
  .header__social {
    padding: 70px 0 0 65px;
  }
  .header__image {
    width: 75%;
    bottom: -180px;
  }
  /*==============================*/
  .services-content {
    margin: 0 40px 0 0;
  }
  .services-content-item {
   margin: 0 0 40px 0;
  }
  .services-list-item {
    padding: 5px 5px 5px 5px;
    max-width: none;
  }
  .services-list-item:hover {
    max-width: none;
  }
  /*==============================*/
  .input::-webkit-input-placeholder {
    text-align: left;
  }
  .input::-moz-placeholder {
    text-align: left;
  }
  .input:-ms-input-placeholder {
    text-align: left;
  }
  .input::-ms-input-placeholder {
    text-align: left;
  }
  .input::placeholder {
    text-align: left;
  }
  .contacts-form__button {
    margin: 35px 0 0 0;
  }
}
@media (max-width: 992.98px) {        
   .container {
    max-width: 750px;
  }
  body {
    font-size: 16px;
  }
  .title {
    margin: 0 0 20px 0;
    font-size: 30px;
  }
  .header {
    margin: 0 0 100px 0;
  }
  .header__social {
    padding: 60px 0 0 45px;
  }
  .header__image {
    width: 75%;
    bottom: -120px;
  }
  /*==============================*/
  .services,.benefits, .products, .contacts {
    margin: 0 0 50px 0;
  }
  .services-content {
    margin: 0 0 0 0;
  }
  .services-content-item {
   margin: 0 0 20px 0;
  }
  .services-content-item__title {
    margin: 0 0 10px 0;
  }
  .services-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .services-column__list {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .services-list-item {
    max-width: none;
  }
  .services-list-item::before {
    padding: 0 0 0 0;
  }
  .services-list-item-body{
    padding: 0 0 0 70px;
  }
  .services-list__title {
    font-size: 20px;
    line-height: 25px;
  }
  .services__btn {
    margin: 0 0 0 0;  
  }
  /*==============================*/
  .benefits-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%
  }
  .benefits__img {
    display: none;
  }
  .benefits-content::after {
    content: '';
    width: 750px;
    right: -10px;
  }
  .benefits-content-item {
    max-width: none;
  }
  .benefits-content__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
  /*==============================*/
  .products .slick-dots {
    padding: 20px 0 0 0;
  }
  /*==============================*/
  .contacts-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    padding: 0 0 0 0;
  }
  .contacts-content {
    max-width: none;
    padding: 0 0 0 0;
  } 
  .contacts-form {
    padding: 10px 10px 20px 10px;
  }
  .input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .input::-moz-placeholder {
    font-size: 16px;
  }
  .input:-ms-input-placeholder {
    font-size: 16px;
  }
  .input::-ms-input-placeholder {
    font-size: 16px;
  }
  .input::placeholder {
    font-size: 16px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }
  body {
    font-size: 15px;
  }
  .header-top {
    padding: 40px 0 35px;
  }
  .header-top__phone {
    font-size: 25px;
  }
  .header-bottom {
    padding: 0 0 50px 0;
  }
  .header__title {
    font-size: 50px;
    line-height: 65px;
  }  
  .header__subtitle {
    font-size: 20px;
    line-height: 30px;
  }
  .header__text {
    margin: 0 0 20px 0;
    max-width: none;
  }
  .header__social {
    padding: 40px 0 0 10px;
  }
  .header__image {
    bottom: -130px;
  }
  /*==============================*/
  .services,.benefits, .products, .contacts {
    margin: 0 0 40px 0;
  }
  .services-list-item-body {
    padding: 0 0 0 60px;
  }
  .services-list__title {
    font-size: 20px;
    line-height: 20px;
  }
  .services-list-item::before {
    font-size: 30px;
    line-height: 45px;
  }
  /*==============================*/
  .benefits-content__title {
    font-size: 30px;
    line-height: 45px;
  }
  .benefits-content__subtitle {
    line-height: 20px;
  }
  .benefits-content::after {
    content: '';
    width: 770px;
    right: -10px;
  }
  /*==============================*/
  .contacts-content-item {
    margin: 0 0 10px 0;
  }
  .input {
    height: 60px;
  }
  .input::-webkit-input-placeholder {
    font-size: 15px;
  }
  .input::-moz-placeholder {
    font-size: 15px;
  }
  .input:-ms-input-placeholder {
    font-size: 15px;
  }
  .input::-ms-input-placeholder {
    font-size: 15px;
  }
  .input::placeholder {
    font-size: 15px;
  }
  .contacts-form__button {
    margin: 20px 0 0 0;
  }
}
@media (max-width: 600px) {
  .header__image {
    bottom: -100px;
  }
  .footer-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
  }
  .footer__social {
    padding: 10px 0;
  }
}
@media (max-width: 479.98px) {
  .title {
     margin: 0 0 10px 0;
     font-size: 28px;
  }
  .title::after {
    content: '';
    width: 0;
  }
  .header,.services,.benefits, .products, .contacts {
    margin: 0 0 30px 0;
  }
  .header-top {
    padding: 25px 0 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-top__logo {
    padding: 0 10px 0 10px;
  }
  .header-top__phone {
    font-size: 20px;
    line-height: 40px;
  }
  .header-bottom {
    padding: 0 0 10px 0;
    text-align: center;
  }
  .header__title {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 10px 0;
  }  
  .header__subtitle {
    margin: 0 0 5px 0;
  }
  .header__social {
    padding: 30px 0 20px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__image {
    display: none;
  }
  /*==============================*/
  .services-list-item-body {
    padding: 0 0 0 40px;
  }
  .services-list__title {
    font-size: 18px;
  }
  .services-list__text {
    font-size: 14px;
  }
  .services-list-item::before {
    font-size: 25px;
  }
  .btn--mod::after {
    width: 30px;
    right: -25px;
  }
  .btn--mod::before {
    right: -60px;
  }
  /*==============================*/
  .benefits-content {
    padding: 20px 0 25px 0;
  }
  .benefits-content__title {
    font-size: 25px;
  }
  .benefits-content__subtitle {
    font-size: 18px;
  }
  /*==============================*/
  .products .slick-dots button {
    width: 30px;
  }
}



